@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body, .page {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  color: #fff;
      scroll-behavior: smooth;
}

.page-content {
  background: #000;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  color: #fff;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 500px;
  border-radius: 10px;
 background:  rgba(192, 75, 16);


  transform: translate(-50%, -50%) scale(1);
  z-index: 1000;
}
